* {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 16px;
}

body {
  margin: 3rem auto;
  width: 80rem;
}

h1 {
  margin: auto;
  width: 10rem;
}

.form {
  margin: 3rem 0;
}

.left {
  float: left;
  opacity: .8;
}

.form__box {
  margin: 1rem 0;
}

.country, .postcode {
  display: inline-block;
}

.postcode {
  margin-left: 2rem;
}

.form__box div {
  border: .1rem solid black;
  margin-top: 1rem;
  border-radius: .3rem;
  width: 30rem;
}

#countrydiv {
  width: 9rem;
}

#postdiv {
  width: 18rem;
}

.form__box--input {
  height: 2rem;
  border: none;
  margin-left: .5rem;
}

.icon {
  width: 1rem;
  position: relative;
  top: .2rem;
  left: .4rem;
}

#emailicon {
  width: 2rem;
  position: relative;
  top: .4rem;
  left: .1rem;
}

#mail {
  margin-left: -.2rem;
}

#box {
  margin-top: -1rem;
  height: initial;
}

.right {
  float: right;
  background-color: #eee;
  padding: 1rem;
  border-radius: 1rem;
}

.outerbox {
  width: 20rem;
  display: flex;
  margin-bottom: 1rem;
}

.outerbox img {
  width: 8rem;
  border-radius: 1rem;
}

.outerbox .innerbox {
  margin: 0 1rem;
  opacity: .8;
}

p span {
  color: orange;
}

del {
  font-size: smaller;
}

.number {
  border: .05rem solid black;
  border-radius: .3rem;
  width: 7rem;
  height: 2rem;
  text-align: center;
  padding-top: .3rem;
}

.number span {
  background-color: #E0E0E0;
  padding: .1rem .2rem;
  font-weight: bold;
  font-size: x-large;
  border-radius: .3rem;
  color: black;
  margin: 0 1rem;
}

.right > p {
  display: flex;
  justify-content: space-between;
}

.right > p span{
  color: black;
}

.button {
  position: relative;
  top: 47rem;
  left: 7rem;
  padding: 1rem;
  background-color: #F2994A;
  border-radius: 1rem;
  color: white;
  border: none;
  font-weight: 700;
}

/* 320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV. */

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  body {
    width: 30rem;
  }
  h1 {

  }
  .form {
    display: flex;
    flex-direction: column;
  }
  .right {
    order: 0;

  }
  .left {
    order: 1;
  }
  .form__box div {
    width: 30rem;
  }
  .button {
    width: 7rem;
    top: 50rem;
    left: 10rem;
  }
}
