* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 80rem;
  margin: auto;
}

.form {
  opacity: .8;
}

.form__box {
  margin: 1rem 0;
}

.country, .postcode {
  display: inline-block;
}

.form__box div {
  border: .1rem solid black;
  margin-top: 1rem;
  border-radius: .3rem;
  width: 30rem;
}

#countrydiv {
  width: 7rem;
}

#postdiv {
  width: 15rem;
}

.form__box--input, select {
  height: 2rem;
  border: none;
  margin-left: .5rem;
}

.icon {
  width: 1rem;
  position: relative;
  top: .2rem;
  left: .4rem;
}


#emailicon {
  width: 2rem;
  position: relative;
  top: .4rem;
  left: .1rem;
}

#mail {
  margin-left: -.2rem;
}

#box {
  margin-top: -1rem;
  height: initial;
}

.left {
  float: left;
}

.right {
  float: right;
  background-color: #eee;
  padding: 1rem;
  border-radius: 1rem;
}

.outerbox {
  width: 20rem;
  display: flex;
  margin-bottom: 1rem;
}

.outerbox img {
  width: 8rem;
  border-radius: 1rem;
  opacity: 1;
}

.outerbox .innerbox {
  margin: 0 1rem;
}

p span {
  color: orange;
}

del {
  font-size: smaller;
}

.number {
  border: .05rem solid black;
  border-radius: .3rem;
  width: 7rem;
  height: 2rem;
  text-align: center;
  padding-top: .3rem;
}

.number span {
  background-color: #E0E0E0;
  padding: .1rem .2rem;
  font-weight: bold;
  font-size: x-large;
  border-radius: .3rem;
  color: black;
  margin: 0 1rem;
}
